@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html,
body {
   /* Remove browser default styles */
   margin: 0;
   padding: 0;

   font-family: 'Red Hat Display', sans-serif;
}

.fs-progress {
    background: #FAB440;

    position: fixed;
    top: 0;

    width: 0%;
    height: 0.5em;
    transition: width 0.3s ease-in-out;
}

.fs-form {
    background: #07143F;
    font-size: 2.5em;
    width: 100%;
    height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.fs-fields {
    margin: auto 10%;

    display: flex;
    flex-direction: column;
}

.fs-fields label {
    padding: 0 0 1em 0;
    font-weight: bold;
    color: #FAB440;
    /* In order to just show `data-info` when you hover info icon */
    pointer-events: none;
    will-change: opacity, transform;
}

.fs-fields label[data-info]::before {
    display: block;
    content: attr(data-info);
    font-size: 0.4em;
    color: #4E47C6;

    opacity: 0;
    transform: translate3d(0, -5px, 0);
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
}

.fs-fields label[data-info]:hover::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.fs-fields label[data-info]::after {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #FAB440;
    color: #FAB440;
    opacity: 0.6;
    border-radius: 50%;
    content: 'i';
    vertical-align: top;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    line-height: 20px;

    cursor: pointer;
    pointer-events: auto;
}

.fs-input {
    will-change: opacity, transform;
}

.fs-fields input {
    background: transparent;
    color: #4E47C6;
    font-size: 1.5em;
    width: 100%;
    padding: 0 0 0.15em 0;
    border: none;
    border-bottom: 2px solid rgba(78, 71, 198, 0.25);
    text-overflow: ellipsis;
    outline: none;

    /* Underline error */
    background-image: linear-gradient(#E04056, #E04056);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    transition: background-size 0.3s;
}

.fs-fields input[error] {
    background-size: 100% 2px;
}

.fs-fields input::placeholder {
    color: #4E47C6;
    opacity: 0.3;
}

.fs-controls {
    padding: 0 10% 10% 10%;

    display: flex;
    justify-content: space-between;
}

.fs-controls button {
    background: none;
    color: #FAB440;
    font-size: 0.5em;

    padding: 0.5em 1.5em;

    border: 2px solid #FAB440;
    border-radius: 40px;

}

.fs-controls button:hover {
    background: #FAB440;
    color: #07143F;
}

.fs-controls button[disabled] {
    opacity: 0.4;
    pointer-events: none;
}


.fs-anim-upper-enter {
    opacity: 0;
    transform: translateY(450px);
}

.fs-anim-upper-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.fs-anim-upper-exit {
    opacity: 1;
    transform: translateY(0);
}

.fs-anim-upper-exit-active {
    opacity: 0;
    transform: translateY(-500px);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.fs-anim-lower-enter {
    opacity: 0;
    transform: translateY(450px);
}

.fs-anim-lower-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.fs-anim-lower-exit {
    opacity: 1;
    transform: translateY(0);
}

.fs-anim-lower-exit-active {
    opacity: 0;
    transform: translateY(-500px);
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-delay: 0.1s;
}
